<div class="page-header">
<h1>New Template</h1>
</div>
<%= form_for @lab_template do | f | %>
<%= f.label :name %>
<%= f.text_field :name %>
<div class="form-actions">
<%= f.submit nil, :class => 'btn btn-primary' %>
<%= link_to "Back", lab_templates_path, class: 'btn' %>
</div>
<% end %>


