<div class="page-header">
  <h1><%= @lab_template.name %></h1>
</div>

<% @lab_template.questions.each_with_index do | question, i | %>

<p><%= i+1 %>. <%= question.name %>

  <div class='offset7'>
    <%= link_to "Edit", edit_lab_template_question_path(@lab_template, question), class: 'btn btn-danger' %>
  </div>

  <p>_____________________________________________________</p>
</p>
</br>

<% end %>
<br>
<%= form_for([@lab_template, @lab_template.questions.build]) do | f | %>
<%= f.text_area :name %>
<br>
<%= f.submit nil, class: 'btn btn-primary' %>
<%= link_to "Back", lab_templates_path, class: 'btn' %>
<% end %>

