<div class="page-header">
  <h1><%= @lab_template.name %></h1>
</div>

<% @lab_template.questions.each_with_index do | question, i | %>
<p><%= i+1 %>. <%= question.name %></p>
<% end %>

<%= form_for([@lab_template, @lab_template.questions.build]) do | f | %>
<%= f.text_area :name %>
<%= f.submit nil, class: 'btn btn-primary' %>
<% end %>

<%= link_to "Back", lab_templates_path, class: 'btn' %>

