<!DOCTYPE html>
<html>
<head>
  <title>CyberwvuLabs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <%= link_to "Cyber WVU Lab", root_path, class: 'brand' %>
      <ul class="nav">
	<li class="<%= if_active 'home' %>"><%= link_to "Home", root_path %></li>
	<li class="<%= if_active 'lab_templates' %>"><%= link_to "Labs", lab_templates_path %></li>
	<li><%= link_to "Answers", lab_answers_path %></li>
      </ul>
    </div>
  </div>

  <div class="row-fluid body-content"> 
    <div class="span10">
    <%= yield %>
    </div>
  </div>
</body>
</html>
